svg{
    transform : scaleY(-1);
    transform-origin : 50% 50%;
    stroke : black;
    fill : none;
    stroke-width: .2%;
    font-size: 1%;
}

text{
    fill : black;
    transform : scaleY(-1);
}

marker{
    fill : black;
    fill : context-stroke;
}

marker.axis{
    fill : gray;
}

line{
    stroke: black;
}

.axis{
    stroke : gray;
}

.grid{
    stroke: light slate;
}

circle.dot{
  stroke: none;
  fill: black;
}